.footer{
    bottom: 0;
    width: 100%;
    position: fixed;   
    height: 10%;      
    background: black;
}
.foote{
    bottom: 0;
    width: 100%;  
    height: 10%;      
    background: black;
}
.buat{
	padding: 10pt;
	width: 30%;
	margin-top: 20pt;
	background: grey;
	border-top-left-radius: 10px; 
	border-top-right-radius: 10px; 
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
	text-align: center;
}
.tabelku{
	position: center;
}
.buat2{
	width: 25%;
	margin-top: 18pt;
	background: white;
	border-radius: 10pt;
	text-align: center;
}
.header{
	top: 0;
    width: 100%;
    position: fixed;   
    height: 10%;      
    background: black;
}